.tarefa{
    width: 180px;
    height: 180px;
    margin: 5px;
    padding: 5px;
    border-radius: 0 0 20px 0;
    background-color: rgb(251, 247, 255);
}

.linha-lateral{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.tarefa.concluido{
    background-color: yellow;
}